
<div class="valentine-container">
  <div class="content" *ngIf="!showSuccess">
    <h1 class="valentine-message">
      <span class="name">Saima </span>, will you be my Valentine?
    </h1>
    <div class="buttons-wrapper">
      <button class="btn btn-yes" (click)="onYesClick()">Yes! 💕</button>
      <button 
        class="btn btn-no" 
        [style.left.px]="noButtonLeft" 
        [style.top.px]="noButtonTop"
        (mouseenter)="moveNoButton()"
        (click)="moveNoButton()">
        No
      </button>
    </div>
    <div class="copyright">
      <small>made by rohanomm © </small>
    </div>
    <!-- <small .>made by rohanomm © </small> -->
  </div>

  <div class="content" *ngIf="showSuccess">
    <h1 class="celebration">🎉 Yayyy...  🎉</h1>
    <p class="success-message"> So happy!  🤗</p>
    <p class="success-message"> Aise hi ha bola krrrr 💕</p>
    <p class="success-message"> This year tu meri valentine ! ❤</p>
    <div class="hearts">
      <span class="heart">💖</span>
      <span class="heart">💗</span>
      <span class="heart">💓</span>
      <span class="heart">💕</span>
      <span class="heart">💝</span>
    </div>
  </div>
  <div class="copyright">
    <small>made by rohanomm © </small>
  </div>
  <div class="popup" *ngIf="showPopup1">
    <p>💡 "Yes" bhi try kar skti ho.. 😂</p>
  </div>
  <div class="popup" *ngIf="showPopup2">
    <p>💡 Acha karle karle.. 😂😂</p>
  </div>
</div>