
<div class="valentine-container">
  <div class="content" *ngIf="!showSuccess">
    <h1 class="valentine-message">
      <span class="name">Sej. </span>, will you be my Valentine?
    </h1>
    <div class="buttons-wrapper">
      <button class="btn btn-yes" (click)="onYesClick()">Yes! 💕</button>
      <button 
        class="btn btn-no" 
        [style.left.px]="noButtonLeft" 
        [style.top.px]="noButtonTop"
        (mouseenter)="moveNoButton()"
        (click)="moveNoButton()">
        No
      </button>
    </div>
  </div>

  <div class="content" *ngIf="showSuccess">
    <h1 class="celebration">🎉 Chalo.. ye bhi thik h! 🎉</h1>
    <p class="success-message">I'm so happy! Kabhi to ha bolli tu !  💝</p>
    <div class="hearts">
      <span class="heart">💖</span>
      <span class="heart">💗</span>
      <span class="heart">💓</span>
      <span class="heart">💕</span>
      <span class="heart">💝</span>
    </div>
  </div>
  <div class="popup" *ngIf="showPopup">
    <p>💡 "Yes" bhi try kar skti ho also! 😒</p>
  </div>
</div>

